

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
img, video {
  max-width: 100%;
  height: auto;
}

